.editorconfig export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
LICENSE export-ignore
Makefile export-ignore
README.md export-ignore

# GitHub Linguist congfiguration, see https://github.com/github/linguist/blob/master/docs/overrides.md.

*.conf linguist-language=INI
